html{background-color:#b83ab8 ;}
#header{ text-align: center;
font-size:3rem;
background-color:#d675d6 ;
background-image: url(images/p.png);
background-attachment: fixed;
background-repeat:no-repeat;
/*background-size:contain;*/
color:white;
padding: 2% 0;
text-decoration: underline;
font-weight: bold;
font-family:"arial";
}
.hd{animation: effect linear 1.2s;}

@keyframes effect {
  0% {transform: scale(1, 1);}
  25% {transform: scale(1.3, 0.6);}
  50% {transform: scale(1.1, 0.9); }
  100% {transform: scale(1, 1);}
}

@media screen and (max-width:600px){
  #header{font-size: 2rem;
  padding: 0 15px ;}

  button{width: 50%;
  padding: 15px 15px;
word-wrap: break-word;}
  
}
.clear:hover{  box-shadow:0px 2px 10px 0px #690101;}
.btn-dark:hover{box-shadow:0px 2px 10px 0px #000000;}


.head{background-color: #b83ab8;
  background-image: linear-gradient(to bottom right, violet, purple);
    text-align: center;
    color:white;
    padding: 25px 15px;
   }
   h1{padding-bottom: 1.5rem;}
  
   #list{background-color: #b83ab8;
    color:white;
    font-size: 2rem;
border:solid #800e80 2px;
word-wrap: break-word;

    }
    input {
       border-radius: 15px;
        width: 50%;
        padding: 10px 25px;
        font-size: 2rem;
      }

      .fa-check-circle:hover, .fa-circle-thin:hover, .fa-trash:hover{cursor: pointer;}
     .fa-trash:hover{color: rgb(228, 29, 29);}
.fa-trash{color: rgb(172, 172, 172);}
     .fa-circle-thin:hover{color:green;}
     .fa-check-circle{color: rgb(24, 230, 24);}
    .strike{text-decoration: line-through;
    }